@charset "utf-8";

@font-face{
    font-family:'NotoSansCJKkr-Regular';
    src:url('../font/NotoSansCJKkr-Regular.otf');
    font-weight:300;
    font-style:normal;
}

@font-face{
    font-family:'NotoSansCJKkr-Bold';
    src:url('../font/NotoSansCJKkr-Bold.otf');
    font-weight:500;
    font-style:normal;
}